@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding-bottom: 50px;
}

.table {
  width: 100%;
  border: 1px solid #EEEEEE;
}

.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}

.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #EEEEEE;
}

.table-data, .header__item {
  flex: 1 1 0;
  text-align: center;
}

.increase-size{
  flex-grow: 3;
}

.header__item {
  text-transform: uppercase;
}

.filter__link {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(desc)";
}
.filter__link.asc::after {
  content: "(asc)";
}



.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 12vh 10vw;
}

.header-center{
  text-align: center;
}

.header-center h1{
  color: #FF5F00;
  font-size: 80px;
}
.info-div h4{
  color: #FF5F00;
  font-size: 30px;
}

.info-div{
  padding: 60px;
}

.table-head{
  text-align: center;
  padding: 40px 0;
}
.table-head h1,h3, h2{
color: #FF5F00;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ol{
  padding-left: 130px;
}
ol p{
  display: inline-block;
  color: #FF5F00;
}
