/* body{
    color: #6F8BA4;
    margin-top:20px;
} */
.section-profile {
    margin-top: 20px;
    padding: 50px 30px;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
.about-avatar img {
    /* max-width: 100%; */
    width: 450px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
}
.about-avatar img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/
.about-profile-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

.about-avatar{
  padding-left: 80px;
  padding-top: 30px;
}
@media (max-width: 767px) {
  .about-profile-text h3 {
    font-size: 35px;
  }
  .about-avatar img {
    width: 190px; 
    height: 250px; 
}
.about-avatar{
  padding-left: 50px;
  padding-top: 30px;
}
}
.about-profile-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-profile-text h6 {
    font-size: 18px;
  }
}
.about-profile-text p {
  font-size: 16px;
  max-width: 1000px;
}
.about-profile-text p mark {
  font-weight: 600;
  color: #FF5F00;
}

/* .about-list {
  padding-top: 10px;
} 
.about-list .media {
  padding: 5px 0;
}

.about-list label {
  color: #FF5F00;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list label:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 11px;
  width: 1px;
  height: 12px;
  background: #FF5F00;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  margin: auto;
  opacity: 0.5;
}
.about-list p {
  margin: 0;
  font-size: 15px;
} */

@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-profile-section {
  padding: 22px 70px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-profile-section {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-profile-section {
  font-weight: 700;
  color: #FF5F00;
  margin: 0 0 5px;
}
.about-profile-section p {
  font-weight: 200;
  margin: 0;
}
/* mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
} */
.theme-color {
    color: black;
}
.dark-color {
    color: #FF5F00;
}
