.services-logos-section > .container {
    display: flex;
    width: 93%;
    /* padding: 2% 2%; */
    box-sizing: border-box;
    /* height: 100vh; */
  }
  
  .services-box-logos {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    /* box-shadow: 0 20px 30px rgba(1, 1, 1, 0.1); */
    line-height: 0;
    padding-top: 5%;
  }

  .services-box-logos > .img-in-logos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }
  
  .services-box-logos > span {
    font-weight: bolder;
    font-size: large;
    display: block;
    text-align: center;
    height: 12vh;
    line-height: 1.8;
    color: #fc6e51;
  }